/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
   background-image: url("http://web.njit.edu/~atb4/hb5/img/webbackground.png");
   background-repeat:repeat-x;
   background-attachment:fixed;
}
#wrapper{
    Background-color: white;
    background-image: url("http://web.njit.edu/~atb4/hb5/img/bubble.png");
    box-shadow: 4px 0 2px #888888,  -4px 0 2px #888888; 
    margin-left: auto;
    margin-right: auto;
    width:980px;
}

#primary_links li{
    display: inline;    
}
#primary_links a{
        color: white;
        text-decoration: none;
}
#primary_links{
    background-color: #3951c6;
    border: outset #28398a;
    Height:60px;
    line-height: 60px;
    text-align: center;
    word-spacing: 10px;
    
}

#primary_links ul{
    margin-top:0px;
    margin-bottom:0px;
}
#branding{
    height: 145px;
    background-color: #28398a; 
}
#acclogo img{
    margin-left: 300px;
    
}
#content{
    position: relative;
}
#subhead1{
    line-height: 1%;
    height: 50px;
}

#p1{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-family: "OpenSans", sans-serif, serif;
}

#p2{
    text-align: center;
    font-size: small;
    font-family: "OpenSans", sans-serif, serif;
}

#p3{
    text-align: center;
    font-size: large;
    font-family: "OpenSans", sans-serif, serif;
    color: #2d539c;
    letter-spacing: 10px;
    
}
#vid1{
   float: left;
   margin-left: 30px;
   height: 350px;
}
#vid2{
   float: left;
   margin-left: 10px;
   height: 350px;
}

#fbbar{
    clear: both;
    background-color: #4c6498;
    Height:50px;
    margin-left: 200px;
    margin-right: 200px;
    line-height: 50px;
    text-align: center;
    border-radius:5px;
    
}
#fb01 {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
#fb02 {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
#fblike{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
    
}

#fbbar iframe{
    margin-top: 15px;
    margin-right: 2px;
}
#gamelist h3{
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: bolder;
    color: blue;
}
#gamelist p{
    margin-left: 50px;
}
#ps3{
    font-size: 14px;
    font-family: "OpenSans";
    color: white;
    width: 158px;
    background-color: #003791;
    line-height: 2.429;
    text-align: center;
    -moz-transform: matrix( 0,-1,1,0,0,0);
    -webkit-transform: matrix( 0,-1,1,0,0,0);
    -ms-transform: matrix( 0,-1,1,0,0,0);
    position: absolute;
    left: -47px;
    top: 771px;
    
}
#xbox{
    font-size: 14px;
    font-family: "OpenSans";
    color: white;
    width: 150px;
    background-color: #22973e;
    line-height: 2.429;
    text-align: center;
    -moz-transform: matrix( 0,-1,1,0,0,0);
    -webkit-transform: matrix( 0,-1,1,0,0,0);
    -ms-transform: matrix( 0,-1,1,0,0,0);
    position: absolute;
    left: -43px;
    top: 926px;
  
}
#dslog{
    font-size: 14px;
    font-family: "OpenSans";
    color: white;
    width: 120px;
    background-color: #349ec8;
    line-height: 2.429;
    text-align: center;
    -moz-transform: matrix( 0,-1,1,0,0,0);
    -webkit-transform: matrix( 0,-1,1,0,0,0);
    -ms-transform: matrix( 0,-1,1,0,0,0);
    position: absolute;
    left: -28px;
    top: 1063px;
  
}
#content table{
    width: 900px;
    margin-left: 50px;
    border-left-color: white;
    border-right-color: white;
    border-bottom-color: white;
    border-top-color: white;
}

#content th{
    background-color:#2d539c;
    color: white;
    padding: 10px;
    font-size: x-large;
    font-weight: lighter;
    border-color: white;
}

#content tr:nth-child(even) {
    background-color: #e7f1f7;
}
#content td{
    text-align: left;
    padding: 10px;
    font-size: small;
    border-color: white;
}

#ps3content{
    margin-top: 20px;
    margin-left: 50px;
    width: 880px;
    border: outset thick;
    border-color:#2b62c4; 
}
#ps3inside{
    background-image: url("http://web.njit.edu/~atb4/hb5/img/bubble.png");
    height:300px;
    width:560px;
    float:left; 
}
#ps3inside p{
    margin-left: 30px;
    margin-top: 50px;
}

#ps3pic img {
    margin-top: 25px;
    margin-left: 25px;
}

#xboxcontent{
    margin-top: 20px;
    margin-left: 50px;
    width: 880px;
    border: outset thick;
    border-color:#26863d; 
}
#xboxinside{
    background-image: url("http://web.njit.edu/~atb4/hb5/img/bubble.png");
    height:300px;
    width:560px;
    float:left; 
}
#xboxinside p{
    margin-left: 30px;
    margin-top: 50px;
}

#xboxpic img {
    margin-top: 25px;
    margin-left: 25px;
}

#dscontent{
    margin-top: 20px;
    margin-left: 50px;
    width: 880px;
    border: outset thick;
    border-color:#3591b5; 
}
#dsinside{
    background-image: url("http://web.njit.edu/~atb4/hb5/img/bubble.png");
    height:300px;
    width:560px;
    float:left; 
}
#dsinside p{
    margin-left: 30px;
    margin-top: 50px;
}

#dspic img {
    margin-top: 25px;
    margin-left: 25px;
}

#about{
    background-color: #344ab6;
    margin-left: auto;
    margin-right: auto;
}
#about h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    color:#ffffff;
}
#about p{
    text-align: center;
    color:#ffffff;
}

#aboutpics{
    text-align: center;
    background-color:#28398a;
}






    
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
